<a href="https://colab.research.google.com/github/marvbushi/Scrape-Coronavirus-in-the-USA/blob/master/Scrape_Coronavirus_Updates_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Scrape total of cases, deaths, recovered in the United States
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datetime import date

In [0]:
today = date.today() # today dates
url = "https://www.worldometers.info/coronavirus/country/us/" # website to scrape
r = requests.get(url) # get a webpage
soup = BeautifulSoup(r.text, "html.parser") # represents the document as a nested data structure
data = soup.find_all("div", class_ = "maincounter-number")

In [139]:
print("Coronavirus in the USA on", today)
print("Total Cases:", data[0].text.strip())
print("Total Deaths:", data[1].text.strip())
print("Total Recovered:", data[2].text.strip())

Coronavirus in the USA on 2020-05-12
Total Cases: 1,385,834
Total Deaths: 81,795
Total Recovered: 262,225

In [0]:
df = pd.DataFrame(data, index=['Total Cases', 'Total Deaths', 'Total Recovered'])
df.drop(columns=[0, 2], inplace=True)
df['Date'] = today
df.rename(columns={1: "USA"}, inplace=True)
df.to_csv("/content/drive/My Drive/Colab Notebooks/coronavirus-in-usa.csv")

In [141]:
df

                          USA        Date
Total Cases      [1,385,834 ]  2020-05-12
Total Deaths         [81,795]  2020-05-12
Total Recovered     [262,225]  2020-05-12

In [143]:
df1 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/coronavirus-in-usa.csv") # Google Drive file path
df1.dtypes

Unnamed: 0    object
USA           object
Date          object
dtype: object

In [144]:
df1.describe()

         Unnamed: 0                                         USA        Date
count             3                                           3           3
unique            3                                           3           1
top     Total Cases  <span style="color:#aaa">1,385,834 </span>  2020-05-12
freq              1                                           1           3